@font-face {
	font-family: 'Akzidenz-Grotesk-Light';
	src: url('/fonts/akzidenzgrotesk-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Akzidenz-Grotesk';
	src: url('/fonts/akzidenzgrotesk-regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Akzidenz-Grotesk-Medium';
	src: url('/fonts/akzidenzgrotesk-medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Akzidenz-Grotesk-Bold';
	src: url('/fonts/akzidenzgrotesk-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
