@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@import './fonts.css';

	*:focus {
		@apply outline-none !important;
	}

	*:focus-visible {
		@apply ring-2 ring-blue-500 ring-opacity-50;
	}

	*::selection {
		@apply bg-electric-blue text-white;
	}

	html {
		font-family: 'Akzidenz-Grotesk', sans-serif;
		font-size: 16px;
		word-spacing: 1px;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		box-sizing: border-box;
	}

	body {
		@apply bg-concrete text-dark-grey;
	}

	.callout-small {
		@apply text-sm;
		letter-spacing: -0.5px;
		line-height: 1.214;
	}

	.callout-small-bold {
		@apply callout-small font-akzidenz-grotesk-bold;
	}

	.callout-medium {
		@apply font-akzidenz-grotesk-bold;
		letter-spacing: -0.5px;
		line-height: 1.1875;
	}

	.title-super {
		@apply text-5xl font-akzidenz-grotesk-bold;
		letter-spacing: -3px;
		line-height: 0.917;
	}

	.title-large {
		@apply text-4xl font-akzidenz-grotesk-bold;
		letter-spacing: -2px;
		line-height: 1.22;
	}

	.body-text {
		@apply text-lg;
		letter-spacing: -0.75px;
		line-height: 1.22;
	}

	.footnote {
		@apply text-xs;
		letter-spacing: 0;
		line-height: 1.167;
	}

	/**
	 * Visually hide any element (mostly text) accessibly.
	 * Support includes IE9+
	 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
	 */
	.sr-only {
		clip: rect(0 0 0 0);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}
