<template>
	<form class="w-full h-full flex flex-col justify-end" @submit.prevent>
		<mol-flyup
			:value="type"
			class="flyup"
			label="Type"
			:options="typeOptions"
			@change="$emit('update:type', $event)"
		/>
		<mol-flyup
			:value="mode"
			class="flyup"
			label="Gamemode"
			:options="modeOptions"
			@change="$emit('update:mode', $event)"
		/>
		<mol-flyup
			:value="status"
			class="flyup"
			label="Lobby Status"
			:options="statusOptions"
			@change="$emit('update:status', $event)"
		/>

		<button
			class="
				flex-shrink-0 flex
				items-center
				bg-electric-blue
				text-white
				h-[90px]
				pl-4
				pr-6
				rounded-none
				pointer-events-auto
			"
			type="submit"
			@click="submit"
		>
			<span class="callout-small-bold text-left w-[45%]">Play Now</span>
			<span class="flex justify-between items-center w-[55%]">
				<span class="callout-small">4,021 in Queue</span>
				<icon-arrow-right width="22" height="12" />
			</span>
		</button>
	</form>
</template>

<script>
import IconArrowRight from '~/assets/icons/gf-arrow-right.svg?inline'

export default {
	components: {
		IconArrowRight
	},
	props: {
		type: String,
		mode: String,
		status: String
	},
	data: () => ({
		typeOptions: [
			{ value: 'competitive', text: 'Competitive' },
			{ value: 'casual', text: 'Casual' }
		],
		modeOptions: [
			{ value: 'squad-battles', text: 'Squad Battles' },
			{ value: 'ultimate-team', text: 'Ultimate Team' },
			{ value: 'kick-off', text: 'Kick Off' },
			{ value: 'skill-games', text: 'Skill Games' },
			{ value: 'practice-arena', text: 'Practice Arena' }
		],
		statusOptions: [
			{ value: 'invite-only', text: 'Invite Only' },
			{ value: 'public', text: 'Public' }
		]
	}),
	methods: {
		submit() {
			this.$emit('play-now', {
				type: this.type,
				mode: this.mode,
				status: this.status
			})
		}
	}
}
</script>

<style lang="postcss" scoped>
.flyup {
	@apply bg-sand mx-4 pointer-events-auto;
}
</style>
