<template>
	<nav class="flex justify-between items-center pr-6">
		<div class="relative w-[105px] h-[105px]">
			<transition name="slide">
				<button
					v-if="backButtonConfig.shown"
					class="square-link transform translate-y-full"
					@click="goBack"
				>
					<icon-arrow-left width="22" height="10" />
				</button>
			</transition>
			<a class="square-link" href="https://www.gfinityesports.com/">
				<gfinity-logo />
			</a>
		</div>
		<div class="flex items-center">
			<span class="callout-small-bold text-dark-grey uppercase mr-6">
				{{ selectedGame.title }}
			</span>
			<button><icon-hamburger /></button>
		</div>
	</nav>
</template>

<script>
import { mapState } from 'vuex'
import GfinityLogo from '~/assets/images/brand/gfinity-logo.svg?inline'
import IconHamburger from '~/assets/icons/gf-nav-def.svg?inline'
import IconArrowLeft from '~/assets/icons/gf-arrow-left.svg?inline'

export default {
	components: {
		GfinityLogo,
		IconHamburger,
		IconArrowLeft
	},
	computed: {
		...mapState('ui', { backButtonConfig: 'backButton' }),
		...mapState('game', ['selectedGame'])
	},
	methods: {
		goBack() {
			if (this.backButtonConfig.previousPath) {
				this.$router.push(this.backButtonConfig.previousPath)
			} else {
				this.$router.go(-1)
			}
		}
	}
}
</script>

<style lang="postcss" scoped>
.square-link {
	@apply absolute top-0 left-0 flex	justify-center	items-center	bg-dark-grey text-white w-full h-full border-none shadow-none rounded-none;
}

.slide-enter,
.slide-leave-to {
	transform: translate3d(0, 0, 0);
}

.slide-enter-active,
.slide-leave-active {
	@apply transition-transform duration-500;
}
</style>
