<template>
	<button class="flex items-center" @click="$emit('back')">
		<icon-arrow-left width="22" height="10" />
		<span class="callout-medium ml-6">{{ pageTitle }}</span>
	</button>
</template>

<script>
import { mapState } from 'vuex'
import IconArrowLeft from '~/assets/icons/gf-arrow-left.svg?inline'

export default {
	components: {
		IconArrowLeft
	},
	computed: {
		...mapState(['pageTitle'])
	}
}
</script>
