<template>
	<label
		class="flyup-wrapper"
		:class="{ expanded: isExpanded }"
		:aria-label="label"
	>
		<!-- Presentational -->
		<span class="flex flex-col">
			<span
				class="flex w-full border-t border-concrete py-[14px]"
				@pointerdown="isExpanded = !isExpanded"
			>
				<span class="callout-small-bold w-[45%] select-none">
					{{ label }}
				</span>
				<span class="flex justify-between items-center w-[55%] pr-2">
					<span class="callout-small">
						{{ selectedOption ? selectedOption.text : '' }}
					</span>
					<icon-caret-down class="arrow" width="12" height="8" />
				</span>
			</span>
			<span class="flex flex-col w-[55%] self-end">
				<!-- TODO: Hacking styles here to solve extra space at bottom of page. Find out if there's a better solution. -->
				<span
					v-for="{ value: val, text } in options"
					:key="val"
					class="callout-small py-[14px] select-none overflow-hidden"
					:style="{
						marginBottom: !isExpanded ? '-44px' : null,
						opacity: !isExpanded ? 0 : 1
					}"
					@pointerdown.prevent="select(val)"
				>
					{{ text }}
				</span>
			</span>
		</span>

		<!-- Using a hidden native select element for better a11y -->
		<select
			class="sr-only"
			@keydown.enter.prevent="isExpanded = !isExpanded"
			@change="$emit('change', $event.target.value)"
		>
			<option
				v-for="{ value: val, text } in options"
				:key="val"
				:value="val"
			>
				{{ text }}
			</option>
		</select>
	</label>
</template>

<script>
import IconCaretDown from '~/assets/icons/gf-caret-down.svg?inline'

export default {
	components: {
		IconCaretDown
	},
	model: {
		prop: 'value',
		event: 'change'
	},
	props: {
		label: { type: String, default: '' },
		options: { type: Array, required: true },
		value: String
	},
	data: () => ({
		isExpanded: false
	}),
	computed: {
		selectedOption() {
			return this.options.find(option => option.value === this.value)
		}
	},
	methods: {
		select(val) {
			this.$emit('change', val)
			this.isExpanded = false
		}
	}
}
</script>

<style lang="postcss" scoped>
.flyup-wrapper {
	@apply flex-1 cursor-pointer overflow-hidden;
	max-height: 49px;
	transition: max-height 500ms;

	& .arrow {
		@apply transform transition-transform duration-500;
	}

	&.expanded {
		@apply max-h-screen;

		& .arrow {
			@apply rotate-180;
		}
	}
}
</style>
