<template>
	<div v-if="isShown" ref="toast" class="toast-wrapper">
		<span class="callout-small-bold w-2/3"> Searching... </span>
		<span class="flex justify-between items-center w-1/3">
			<span class="callout-small">{{ timeElapsed }}</span>
			<button @click="close">
				<icon-close width="14" height="14" />
			</button>
		</span>
	</div>
</template>

<script>
import { formatSeconds } from '~/utils/index'
import IconClose from '~/assets/icons/gf-close.svg?inline'

export default {
	components: {
		IconClose
	},
	data: () => ({
		isShown: true,
		seconds: 0,
		intervalId: null
	}),
	computed: {
		timeElapsed() {
			return formatSeconds(this.seconds)
		}
	},
	mounted() {
		this.intervalId = setInterval(() => {
			this.seconds += 1
		}, 1000)

		this.$on('hook:beforeDestroy', () => {
			clearInterval(this.intervalId)
		})
	},
	methods: {
		close() {
			this.$emit('close')
			this.isShown = false
		}
	}
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/mixins/toast.scss';

.toast-wrapper {
	@include toast;
	@apply bg-dark-grey;
}
</style>
