<template>
	<button class="button-wrapper" @click="$emit('accept')">
		<span class="callout-small-bold w-2/3 text-left">Accept</span>
		<span class="flex justify-between items-center w-1/3">
			<span class="callout-small">
				<span v-if="remainingSeconds > 0">-</span>
				<span>{{ remainingTime }}</span>
			</span>
			<span>
				<icon-arrow-right class="right-arrow" width="22" height="10" />
			</span>
		</span>
	</button>
</template>

<script>
import { formatSeconds } from '~/utils/index'
import IconArrowRight from '~/assets/icons/gf-arrow-right.svg?inline'

export default {
	components: {
		IconArrowRight
	},
	data: () => ({
		remainingSeconds: 60,
		intervalId: null
	}),
	computed: {
		remainingTime() {
			return formatSeconds(this.remainingSeconds)
		}
	},
	mounted() {
		this.intervalId = setInterval(() => {
			this.remainingSeconds -= 1

			if (this.remainingSeconds === 0) {
				clearInterval(this.intervalId)
				this.$emit('accept')
			}
		}, 1000)

		this.$on('hook:beforeDestroy', () => {
			clearInterval(this.intervalId)
		})
	}
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/mixins/toast.scss';

@keyframes point-right {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(0);
	}
}

.button-wrapper {
	@include toast;
	@apply bg-electric-blue;
}

.right-arrow {
	animation: point-right 1s infinite;
}
</style>
