<template>
	<img
		v-if="game"
		class="game-image select-none"
		:src="game.image.normal"
		:srcset="
			`
			${game.image.normal},
			${game.image.large} 2x,
			${game.image.largest} 3x
		`
		"
		:width="width"
		:height="height"
		:alt="alt || game.title"
		draggable="false"
	/>
</template>

<script>
import { mapState } from 'vuex'

export default {
	props: {
		width: { type: Number, default: 375 },
		height: { type: Number, default: 696 },
		alt: { type: String, default: '' }
	},
	computed: {
		...mapState('game', { game: 'selectedGame' })
	}
}
</script>
