<template functional>
	<img
		v-bind="data.attrs"
		class="object-cover"
		:class="[data.class, data.staticClass]"
		:style="[data.style, data.staticStyle]"
		:src="props.profile.avatar.small"
		:srcset="
			`
			${props.profile.avatar.small},
			${props.profile.avatar.medium} 2x,
			${props.profile.avatar.large} 3x
		`
		"
		:alt="data.attrs.alt || `${props.profile.username}'s avatar`"
		draggable="false"
		v-on="listeners"
	/>
</template>

<script>
export default {
	props: {
		profile: { type: Object, required: true }
	}
}
</script>
