<template>
	<div
		class="
			relative
			bg-sand
			min-h-screen
			sm:max-w-[375px]
			flex flex-col
			mx-auto
			overflow-x-hidden
		"
	>
		<org-nav-bar class="relative z-50" />
		<nuxt />
	</div>
</template>
