<template>
	<div class="flex-1 flex justify-center items-center">
		<atom-game-image
			class="absolute"
			style="top: 79px; left: 41px"
			alt="Ronaldo dribbling"
		/>
		<h1 class="relative title-super text-center">Match in progress...</h1>
	</div>
</template>

<script>
export default {
	head: {
		title: 'Match Stats'
	},
	meta: {
		backButton: {
			previousPath: '/matchmaking/settings'
		}
	}
}
</script>
