<template>
	<div class="flex-1">
		<atom-game-image
			class="absolute"
			style="top: 79px; left: 41px"
			alt="Ronaldo dribbling"
		/>

		<main
			class="absolute w-[351px] h-[637px] left-0 top-[105px] text-white"
		>
			<div
				class="main-inner-wrapper"
				:style="{ '--bg-color': isMatchFound ? '#1B1B1B' : '#293894' }"
			>
				<section class="relative z-10">
					<div>
						<span class="callout-medium">Matchmaking Lobby</span>
					</div>

					<transition name="fade" mode="out-in">
						<h1
							v-if="!isMatchFound"
							key="title-1"
							class="heading w-[277px]"
						>
							Searching for compatible opponents
						</h1>
						<h1 v-else key="title-2" class="heading w-[257px]">
							A match has been found for you!
						</h1>
					</transition>

					<transition name="fade" mode="out-in">
						<p
							v-if="!isMatchFound"
							key="paragraph-1"
							class="paragraph"
						>
							We’re searching our database of players to pair you
							with an opponent of similar skill
						</p>
						<p v-else key="paragraph-2" class="paragraph">
							We’ve found a compatible opponent for you to play
							Squad Battles with in FIFA 19
						</p>
					</transition>
				</section>

				<section class="relative mt-16 z-10">
					<div class="flex items-center">
						<span class="footnote flex-shrink-0 w-1/5">Lobby</span>
						<div class="avatar ml-1">
							<atom-user-avatar
								:profile="profile"
								class="rounded-full"
								:width="46"
								:height="46"
							/>
						</div>
					</div>
					<div class="flex items-start mt-10">
						<div class="w-1/5 flex-shrink-0">
							<div
								class="bg-white"
								style="width: 12px;	height: 2px;	margin-top: 6px;"
							></div>
						</div>

						<transition name="fade" mode="out-in">
							<span
								v-if="!isMatchFound"
								key="footnote-1"
								class="footnote"
							>
								<span class="font-bold">4,021</span>
								<span>in Queue</span>
							</span>
							<span v-else key="footnote-2" class="footnote">
								By tapping accept, you agree to play a match
								that may last for up to 30 minutes.
							</span>
						</transition>
					</div>
				</section>
			</div>
		</main>

		<div class="notifications">
			<transition name="slide-left" mode="out-in">
				<mol-searching-toast v-if="!isMatchFound" />
				<atom-accept-match-button
					v-else
					class="toast"
					@accept="$router.push('/stats')"
				/>
			</transition>
		</div>
	</div>
</template>

<script>
import gsap from 'gsap'
import { mapState } from 'vuex'
import TitleMixin from '~/mixins/TitleMixin'

export default {
	head: {
		title: 'Match Search'
	},
	mixins: [TitleMixin],
	data: () => ({
		isMatchFound: false,
		searchDurationInSeconds: Math.round(Math.random() * 30), // Random search duration within 30 sec (for mocking)
		timeoutId: null
	}),
	computed: {
		...mapState('user', ['profile'])
	},
	mounted() {
		// simulating search with a random duration of max 30 sec
		this.timeoutId = setTimeout(() => {
			this.isMatchFound = true
			this.timeoutId = null
		}, this.searchDurationInSeconds * 1000)

		this.$on('hook:beforeDestroy', () => {
			if (this.timeoutId) {
				clearTimeout(this.timeoutId)
			}
		})
	},
	transition(to) {
		return {
			name: 'custom',
			appear: true,
			css: false,
			enter() {
				if (!to.fullPath.endsWith('/matchmaking/search')) return

				const tl = gsap.timeline()
				tl.from('.game-image', { opacity: 0, duration: 1 })
				tl.from('.main-inner-wrapper', {
					left: '-351px',
					duration: 0.5
				})
				tl.from('.notifications', { x: '100%', duration: 0.5 })
			},
			leave(_, done) {
				const tl = gsap.timeline()
				tl.to('.notifications', { x: '100%', duration: 0.5 })
				tl.to('.main-inner-wrapper', {
					x: '-100%',
					duration: 0.5,
					onComplete: done
				})
			}
		}
	}
}
</script>

<style lang="postcss">
.main-inner-wrapper {
	@apply relative text-white h-full pt-36 px-4;

	& *::selection {
		@apply bg-light-grey;
	}

	&::before {
		@apply absolute inline-block inset-0 mix-blend-multiply transition-colors duration-500;
		background-color: var(--bg-color);
		content: '';
	}
}

.heading {
	@apply title-super mt-6;
	line-height: 0.917;
}

.paragraph {
	@apply body-text mt-6;
	line-height: 1.22;
}

.avatar {
	@apply relative flex justify-center items-center;
	width: 46px;
	height: 46px;

	&::after {
		@apply absolute border-2 rounded-full z-10;
		content: '';
		width: 120%;
		height: 120%;
	}
}

.notifications {
	@apply fixed bottom-7 right-0 z-50;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	@apply transition-opacity duration-500;
}

.slide-left-enter,
.slide-left-leave-to {
	transform: translate3d(100%, 0, 0);
}

.slide-left-enter-active,
.slide-left-leave-active {
	@apply transition-transform duration-500;
}
</style>
