<template>
	<div class="pt-4 flex-1 flex flex-col">
		<atom-game-image
			class="
				game-image
				absolute
				top-0
				right-0
				transform
				translate-x-[47%] translate-y-[-45%]
			"
			alt="Ronaldo dribbling"
		/>
		<mol-breadcrumb class="breadcrumb ml-4" />

		<main class="relative flex-1 mt-4 px-4">
			<section
				class="border-t border-concrete pt-4"
				style="margin-bottom: 280px"
			>
				<h1 class="flex items-center">
					<span class="title-large">
						{{ profile.username }}’s lobby
					</span>
					<icon-padlock
						v-show="lobbySettings.status === 'invite-only'"
						class="ml-4"
					/>
				</h1>
				<!-- Game title tag -->
				<div class="mt-3" style="line-height: 12px">
					<span
						class="
							base-tag
							bg-dark-grey
							text-white
							rounded-r-full
							px-[5px]
							py-[1px]
						"
					>
						{{ selectedGame.title }}
					</span>
				</div>
				<!-- Player info -->
				<div class="flex mt-6">
					<!-- Team Leader -->
					<div class="flex flex-col">
						<nuxt-link
							to="/"
							class="
								w-[140px]
								h-[187px]
								rounded-[6px]
								overflow-hidden
							"
						>
							<atom-user-avatar
								:profile="profile"
								class="h-full"
								:width="140"
								:height="187"
							/>
						</nuxt-link>
						<span class="footnote text-light-grey mt-4">
							Team Leader /
						</span>
						<nuxt-link to="/" class="callout-medium mt-2">
							{{ profile.username }}
						</nuxt-link>
						<div
							class="flex items-center mt-3"
							style="line-height: 12px"
						>
							<span
								class="
									base-tag
									border border-dark-grey
									select-none
									px-[5px]
									pt-[3px]
									pb-[2px]
								"
							>
								Ready
							</span>
							<span class="flex text-gfinity-red ml-2">
								<icon-pts-g width="11" height="12" />
								<span class="player-points ml-1">
									{{ profile.points }}
								</span>
							</span>
						</div>
					</div>
					<!-- Team Player -->
					<div class="flex flex-col ml-4">
						<nuxt-link
							to="/"
							class="
								w-[140px]
								h-[187px]
								rounded-[6px]
								border border-concrete
								overflow-hidden
							"
						>
						</nuxt-link>
						<span class="footnote text-light-grey mt-4">
							Team Player /
						</span>
						<nuxt-link
							to="/"
							class="callout-medium flex items-center mt-2"
						>
							<span>Invite Player</span>
							<icon-caret-right
								class="ml-3"
								width="8"
								height="12"
							/>
						</nuxt-link>
					</div>
				</div>
			</section>

			<!-- Matchmaking settings -->
			<section class="absolute inset-0 pointer-events-none">
				<org-lobby-settings-form
					class="matchmaking-settings-form"
					:type.sync="lobbySettings.type"
					:mode.sync="lobbySettings.mode"
					:status.sync="lobbySettings.status"
					@play-now="$router.push('/matchmaking/search')"
				/>
			</section>
		</main>
	</div>
</template>

<script>
import gsap from 'gsap'
import { mapState } from 'vuex'
import TitleMixin from '~/mixins/TitleMixin'
import IconPadlock from '~/assets/icons/gf-lock.svg?inline'
import IconPtsG from '~/assets/images/brand/gf-pts-g.svg?inline'
import IconCaretRight from '~/assets/icons/gf-caret-right.svg?inline'

export default {
	head: {
		title: 'Matchmaking Settings'
	},
	meta: {
		backButton: {
			shown: false
		}
	},
	components: {
		IconPadlock,
		IconPtsG,
		IconCaretRight
	},
	mixins: [TitleMixin],
	data: () => ({
		lobbySettings: {
			type: 'competitive',
			mode: 'squad-battles',
			status: 'invite-only'
		}
	}),
	computed: {
		...mapState('user', ['profile']),
		...mapState('game', ['selectedGame'])
	},
	transition(_, from) {
		if (!(from && from.fullPath.endsWith('/matchmaking/settings'))) return

		return {
			name: 'custom',
			css: false,
			leave(_, done) {
				gsap.to('.game-image', {
					x: '100%',
					duration: 0.5
				})
				gsap.to('.breadcrumb', {
					x: '-100%',
					duration: 0.5
				})
				gsap.to('main', { opacity: '0', duration: 0.5 })
				gsap.to('.matchmaking-settings-form', {
					y: '100%',
					duration: 0.5,
					onComplete: done
				})
			}
		}
	}
}
</script>

<style lang="postcss" scoped>
.base-tag {
	@apply text-[0.625rem] tracking-[1.5px] font-akzidenz-grotesk-bold uppercase;
}

.player-points {
	@apply font-akzidenz-grotesk-bold select-none;
	font-size: 0.6875rem;
	letter-spacing: -0.5px;
	line-height: 1.18;
}
</style>
